#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

VERSION=0.3.1
PACKAGE_NAME=crypto-$(VERSION)

%:
	dh $@ --with=php5

override_dh_auto_configure:
	cd $(PACKAGE_NAME) \
		&& phpize \
		&& ./configure

override_dh_auto_test:
	cd $(PACKAGE_NAME) \
		&& NO_INTERACTION=1 make test

override_dh_auto_install:
